@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital@0;1&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --fallback-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --main-font-family: "Google Sans Code";

    /* palette */
    --viridian: #6B9080;
    --cambridge-blue: #A4C3B2;
    --mint-green: #CCE3DE;
    --azure: #EAF4F4;
    --mint-cream: #F6FFF8;
    --chili-red: #D64933;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: var(--main-font-family), var(--fallback-font);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 1fr;
}

.header {
    background-color: var(--mint-green);
}

/* main section */
.main-section {
    display: grid;
    grid-template-columns: 2fr 6fr;
}

/* side bar section */
.side-bar-container {
    background-color: var(--azure);
    padding: 12px;
    list-style: none;
    font-size: 1.6rem;
}

.sidebar-menu-item {
    background-color: var(--mint-green);
    margin-bottom: 12px;
    padding: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.sidebar-menu-item:hover {
    border: 2px solid var(--viridian);
    background: none;
    cursor: pointer;
}

.projects-hdr-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    gap: 2px;
    border-bottom: 1px solid var(--viridian);
}

.add-project-icon {
    font-size: 3rem;
    color: var(--viridian);
    padding-right: 5px;
    padding-bottom: 5px;
    user-select: none;
}

.add-project-icon:hover {
    cursor: pointer;
    -webkit-text-stroke: 3px var(--mint-green);
}

.project-container {
    margin-top: 10px;
}

.project-btn-wrapper{
    display: flex;
    gap: 5px;
}

/* main section - Todos */
.todos-container {
    padding: 20px;
}

.add-task-btn {
    font-size: 1.3rem;
    padding: 5px;
    border-radius: 6px;
    border: 3px solid var(--cambridge-blue);
    background: none;
}

.task-modal,
.project-modal {
    background-color: var(--azure);
    margin: auto;
    border-radius: 10px;

}

.task-form-header,
.project-form-header {
    background-color: var(--cambridge-blue);
    padding: 1rem;
    color: var(--azure);
}

.task-form-wrapper {
    padding: 1.5rem 2rem 0;
}

.project-input-wrapper {
    padding: 1rem 1rem 0;
}

.task-input,
.project-input {
    width: 100%;
    border: 2px solid var(--viridian);
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
}

.task-input:focus {
    background-color: var(--mint-cream);
}

.task-form-btn-wrapper {
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.project-form-btn-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 1rem;
}

.cancel-btn {
    background-color: var(--mint-green);
    font-size: 1.1rem;
    padding: 5px;
    border-radius: 6px;
    border: 0;
}

.task-item {
    background-color: var(--mint-green);
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    /* wrap on small screens */
    flex-wrap: wrap;
    gap: 5px;
}

.task-wrapper-left {
    display: flex;
    align-items: center;
    gap: 5px;
}

.complete-toggle {
    /* Remove checkbox native input styles */
    appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid var(--viridian);
    display: grid;
    align-content: center;
    justify-content: center;
}

.complete-toggle::before {
    content: "";
    width: 0.7rem;
    height: 0.7rem;
    clip-path: polygon(15% 45%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 45% 62%);
    transform: scale(0);
    background-color: var(--chili-red);
}

.complete-toggle:checked:before {
    transform: scale(1);
}

.task-complete {
    text-decoration: line-through;
}

.task-wrapper-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.task-item:hover {
    box-shadow: 2px 2px 1px 1px var(--viridian);
    transform: scale(1.02);
}

.detail-btn,
.close-detail-btn,
.submit-task-btn,
.edit-btn,
.delete-btn,
.submit-project-btn {
    background: linear-gradient(to bottom right, var(--viridian), var(--mint-cream));
    font-size: 1.1rem;
    padding: 5px;
    border-radius: 6px;
    border: 0;
}

.delete-btn {
    background: var(--chili-red);
}

.detail-btn:hover,
.close-detail-btn:hover,
.submit-task-btn:hover,
.cancel-btn:hover,
.add-task-btn:hover,
.edit-btn:hover,
.delete-btn:hover,
.submit-project-btn:hover {
    filter: brightness(120%);
    cursor: pointer;
}

.todo-detail-modal {
    background-color: var(--azure);
    margin: auto;
    width: 50%;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    position: relative;
}

.todo-detail-modal::backdrop,
.task-modal::backdrop {
    backdrop-filter: blur(3px);
}

.x-sign-close-btn {
    position: absolute;
    font-size: 1.7rem;
    right: 1rem;
    top: 0.4rem;
    background-color: transparent;
    border: none;
}

.x-sign-close-btn:hover {
    cursor: pointer;
    color: var(--viridian);
}

.todo-detail-para {
    padding: 10px;
}

.close-detail-btn {
    margin-top: 5px;
}

.footer {
    background-color: var(--cambridge-blue);
}